<h1>Карточки активностей</h1>
<%= link_to "Создать карточку", new_context_path %>
<table>
  <% @contexts.each do |context| %>
    <tr class="<%= 'active' if context.active? %>">
      <td><%= link_to context.title, context %><span style="color:#999; font-size:70%; margin-left:.5em"><%= context.activity_percentage %>%</span></td>
      <% context.last_activities.each do |a| %>
        <td><%= symbol(a) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= link_to "Перемешать", shuffle_contexts_path %>
<%= link_to "Статистика", statistics_contexts_path %>

<% unless @archived_contexts.blank? %>
  <h3>Архив</h3>
  <table>
    <% @archived_contexts.each do |context| %>
      <tr class="<%= 'active' if context.active? %>">
        <td><%= link_to context.title, context %></td>
      </tr>
    <% end %>
  </table>
<% end %>
