<h1>Карточки активностей</h1>
<%= link_to "Создать карточку", new_context_path %>
<table>
  <% @contexts.each do |context| %>
    <tr class="<%= 'active' if context.active? %>">
      <td><%= link_to context.title, context %></td>
      <% context.activities.each do |a| %>
        <td><%= symbol(a) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= link_to "Перемешать", shuffle_contexts_path %>
