<table class="wrapper" width=100% height=100% cellspacing=0>
  <tr>
    <td valign="middle" align="center">
      <div style="margin:0 auto; width:350px; height:500px; -moz-box-shadow:2px 2px 4px 4px #ddd; -webkit-box-shadow: 2px 2px 4px 4px #ddd; box-shadow:2px 2px 4px 4px rgba(0,0,0,0.3); border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px; background:white; position:relative">
        <div style="padding:30px">
          <div style="position:absolute; top:16px; right:16px">
            <%= link_to image_tag('edit.png'), edit_context_path(@context) %>
            <%= link_to image_tag('archive.png'), archive_context_path(@context) %>
          </div>
          <h1><%= @context.title %></h1>
          <%= image_tag @context.picture.url(:medium), :style => 'margin:1.5em 0 .5em' %>
          <div class="actions">
            <% @activities.each do |activity| %>
              <em><%= symbol(activity) %></em>
            <% end %>
            <% unless @context.active? %>
              <%= link_to "✔", activities_path(:activity => {:context_id => @context.id, :accepted => true}), :method => :post, :style => 'color:green' %>
              <%= link_to "•", activities_path(:activity => {:context_id => @context.id, :accepted => false}), :method => :post, :style => 'color:red' %>
            <% end %>
          </div>
          <% unless @context.active? %>
            <ul class="tasks">
              <% @context.active_tasks.each do |task| %>
                <li id="task_<%= task.id %>">
                  <%= link_to task.title, activities_path(:activity => {:task_id => task.id, :context_id => @context.id, :accepted => true}), :method => :post, :title => 'Начать заниматься этой задачей' %>
                  <%= link_to '✔', task_path(task, :task => {:status => 'done'}), :remote => true, :method => :put, :title => 'Задача выполнена!' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="timer">
              <p class="timer-time" id="timer"></p>
              <%= javascript_tag "setTimer('timer',#{@context.time_passed/60},#{@context.time_passed%60});" %>
              <p class="timer-task" style="display:none">Статья Брома Михельса<a href="#" style="margin-left:.5em; color:black; text-decoration:none">✔</a></p>
            </div>
          <% end %>
          <%= link_to raw("&uarr;"), contexts_path %>
          <%= link_to raw("&rarr;"), @context.next unless @context.archived? %>
        </div>
      </div>
    </td>
  </tr>
</table>
