<table class="wrapper" width=100% height=100% cellspacing=0>
  <tr>
    <td valign="middle" align="center">
      <div style="margin:0 auto; width:350px; height:500px; -moz-box-shadow:2px 2px 4px 4px #ddd; -webkit-box-shadow: 2px 2px 4px 4px #ddd; box-shadow:2px 2px 4px 4px rgba(0,0,0,0.3); border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px; background:white; position:relative">
        <div style="padding:1em 15px">
          <div style="float:right">
            <%= link_to image_tag('edit.png'), edit_context_path(@context) %>
            <%= link_to image_tag('archive.png'), archive_context_path(@context) %>
            <%= link_to image_tag('right.png'), @context.next unless @context.archived? %>
          </div>
          <div style="float:left">
            <%= link_to image_tag('up.png'), contexts_path %>
          </div>
          <h1 style="clear:both; margin-top:.5em"><%= @context.title %></h1>
          <div style="height:200px; width:250px; margin:.3em auto; vertical-aling:middle; display:table"><div style="display:table-cell; vertical-align:middle"><%= image_tag @context.picture.url(:medium) %></div></div>
          <% unless @context.active? %>
            <div class="actions holder">
              <div style="overflow:hidden; border-color: #ddd #aaa #aaa #ddd; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border-style: solid; border-width: 1px; background:#f0f0f0">
                <div style="float:left; width:50%; margin-right:-1px; border-right:1px solid #ccc">
                  <%= link_to "✔", activities_path(:activity => {:context_id => @context.id, :accepted => true}), :method => :post, :style => 'color:green; width:100%; display:block; padding:.2em 0' %>
                </div>
                <div style="float:left; width:50%; margin-left:-1px; border-left:1px solid #aaa"><%= link_to "•", activities_path(:activity => {:context_id => @context.id, :accepted => false}), :method => :post, :style => 'color:red; width:100%; display:block; padding:.2em 0' %></div>
              </div>
            </div>
          <% end %>
          <div class="actions" style="color:#666; padding-top:.3em; border-top:1px solid #ddd; margin-top:.5em">
            <% @activities.each do |activity| %>
              <em><%= symbol(activity) %></em>
            <% end %>
          </div>
          <% unless @context.active? %>
            <ul class="tasks">
              <% @context.active_tasks.each do |task| %>
                <li id="task_<%= task.id %>">
                  <%= link_to task.title, activities_path(:activity => {:task_id => task.id, :context_id => @context.id, :accepted => true}), :method => :post, :title => 'Начать заниматься этой задачей' %>
                  <%= link_to '✔', task_path(task, :task => {:status => 'done'}), :remote => true, :method => :put, :title => 'Задача выполнена!' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="timer">
              <p class="timer-time" id="timer"></p>
              <%= javascript_tag "setTimer('timer',#{@context.time_passed/60},#{@context.time_passed%60});" %>
              <% unless @context.active_task.blank? %>
                <p id="task_<%= @context.active_task.id %>" class="timer-task">
                  <%= @context.active_task.title %>
                  <%= link_to '✔', task_path(@context.active_task, :task => {:status => 'done'}), :remote => true, :method => :put, :title => 'Задача выполнена!', :style => 'margin-left:.5em; color:black; text-decoration:none' %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
</table>
